@font-face {
  font-family: "iconfont";
  src: url('iconfont.woff2?t=1717345587914') format('woff2'),
    url('iconfont.woff?t=1717345587914') format('woff'),
    url('iconfont.ttf?t=1717345587914') format('truetype');
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: 'iconfont' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-node:before {
  content: "\e715";
}

.icon-css:before {
  content: "\e61f";
}

.icon-keyboard:before {
  content: "\e64e";
}

.icon-jg:before {
  content: "\e64b";
}

.icon-node2:before {
  content: "\e699";
}

.icon-theme:before {
  content: "\e602";
}

.icon-style:before {
  content: "\e603";
}

.icon-theme2:before {
  content: "\e644";
}

.icon-tree:before {
  content: "\e653";
}

.icon-article:before {
  content: "\e780";
}

.icon-new:before {
  content: "\e7ab";
}

.icon-doc:before {
  content: "\e601";
}

.icon-dr:before {
  content: "\e636";
}

.icon-dc:before {
  content: "\e634";
}

.icon-dr2:before {
  content: "\e67d";
}

.icon-dc2:before {
  content: "\e69e";
}

.icon-undo:before {
  content: "\e65a";
}

.icon-redo:before {
  content: "\e65b";
}

.icon-icon:before {
  content: "\e600";
}

.icon-delete:before {
  content: "\e635";
}

.icon-link1:before {
  content: "\e772";
}

.icon-link2:before {
  content: "\e615";
}

.icon-img:before {
  content: "\e8ba";
}

.icon-fx:before {
  content: "\e643";
}

.icon-more:before {
  content: "\ed50";
}

.icon-label2:before {
  content: "\e714";
}

.icon-label:before {
  content: "\e73d";
}

.icon-label3:before {
  content: "\e651";
}

.icon-relevance:before {
  content: "\e773";
}

.icon-wendang:before {
  content: "\e66b";
}

.icon-xinjian:before {
  content: "\e64d";
}

.icon-table:before {
  content: "\e6d4";
}

.icon-link:before {
  content: "\e629";
}

.icon-center:before {
  content: "\e60a";
}

.icon-full-out:before {
  content: "\e674";
}

.icon-full-in:before {
  content: "\e675";
}

.icon-zoom-in:before {
  content: "\ec32";
}

.icon-zoom-out:before {
  content: "\ec33";
}

.icon-add:before {
  content: "\e606";
}

.icon-reduce:before {
  content: "\e69d";
}

