@font-face {
  font-family: "iconfont"; /* Project id 4541636 */
  src: url('iconfont.woff2?t=1717234417713') format('woff2'),
       url('iconfont.woff?t=1717234417713') format('woff'),
       url('iconfont.ttf?t=1717234417713') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-relevance:before {
  content: "\e773";
}

.icon-wendang:before {
  content: "\e66b";
}

.icon-xinjian:before {
  content: "\e64d";
}

.icon-table:before {
  content: "\e6d4";
}

.icon-link:before {
  content: "\e629";
}

.icon-center:before {
  content: "\e60a";
}

.icon-full-out:before {
  content: "\e674";
}

.icon-full-in:before {
  content: "\e675";
}

.icon-zoom-in:before {
  content: "\ec32";
}

.icon-zoom-out:before {
  content: "\ec33";
}

.icon-add:before {
  content: "\e606";
}

.icon-reduce:before {
  content: "\e69d";
}

